/*****harold*****/
/* #harold(headerfqwhkqilkzf) #css starts  */
.headerfqwhkqilkzf .logo{
    max-height: 40px
}
.headerfqwhkqilkzf .navbar-light .navbar-nav .nav-link {
    color: #002347
}
.headerfqwhkqilkzf .navbar-light .navbar-nav .nav-link:hover {
    color: #002347
}
/* #harold(headerfqwhkqilkzf) #css ends  */
/*****harold*****/

/*****aliyah*****/
/* #aliyah(a8efe356cab990f31) #css starts  */
.abouta8efe356cab990f31 .Background{
    background-color: #fff;
    padding: 40px
}
.abouta8efe356cab990f31 .stroke{
    background-color: #002347;
    color: white
}
.abouta8efe356cab990f31 .btndecor{
    color: #002347;
    background-color: #F8C365;
    border: 1px solid white
}
/* #aliyah(a8efe356cab990f31) #css ends  */
/*****aliyah*****/

/*****freya*****/
/* #freya(freyategxpfzk1ni) #css starts */
.freyategxpfzk1ni .fdb-block {
    padding: 2.5rem 0
  }

  .freyategxpfzk1ni  .fdb-block .fdb-box {
      background: #FFFFFF;
      padding: 3.75rem 2.5rem;
      overflow: hidden;
      color: #444444;
      border-radius: 0.25rem;
      box-shadow: 0 0.3125rem 0.875rem 0 rgba(129, 129, 129, 0.2)  }

      .freyategxpfzk1ni   .fdb-block .fdb-touch {
      border-top: solid 0.3125rem #002347
     }
/* #freya(freyategxpfzk1ni) #css starts */
/*****freya*****/

/*****pony*****/
/* #pony(fd232222df02a491) #css starts  */
.productsfd232222df02a491 .title {
    color: #002347;
    font-weight: 600;
}
.productsfd232222df02a491 .blob-btn:before {
    border: 2px solid #fff
}
.productsfd232222df02a491 .blob-btn__blob {
    background: #002347
}

/* #pony(fd232222df02a491) #css ends  */
/*****pony*****/

/*****fred*****/
/* #fred(formb82afc6a8fccd8a0) #css starts  */
.formb82afc6a8fccd8a0 h1{
    font-size: 32px
}
.formb82afc6a8fccd8a0 .btn-primary{
    background-color: #002347;
    border-color: #002347
}
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.input-group-append .btn:focus{
    background-color: #002347;
    border-color: #002347
}
/* #fred(formb82afc6a8fccd8a0) #css ends  */
/*****fred*****/

/*****tanika*****/ 
/* #tanika(teamtmpxpt1wbh8) #css starts */
.teamtmpxpt1wbh8 .fdb-block {
    padding: 2.5rem 0
   }
   .teamtmpxpt1wbh8 h1 {
    padding: 32px
   } 
   .teamtmpxpt1wbh8 .lead {
    font-size: 20px
}
/* #tanika(teamtmpxpt1wbh8) #css ends */
/*****tanika*****/

/*****taylor*****/
    /* #taylor(testimonialcohi0ajeo7e) #css starts  */
    .testimonialcohi0ajeo7e .lead {
        font-size: 20px
    }
    /* #taylor(testimonialcohi0ajeo7e) #css ends  */
/*****taylor*****/

/*****fanul*****/
    /* #fanul(footerb6c9fcc0294384085) #css starts  */
    .footerb6c9fcc0294384085 footer {
        background: #002347
    }
    .footerb6c9fcc0294384085 .h3 {
        font-size: 1.125rem;
        color: white;
    }
    .footerb6c9fcc0294384085 .mini-footer p a {
        color: #F8C365;
    }
    /* #fanul(footerb6c9fcc0294384085) #css ends  */
/*****fanul*****/